run
supervise/
*.iml
.DS_Store
/build
*.swp
*.iml
*~
nbproject
.tags*
/public/media/*
/public/js/dist/*
/public/js/react-builds/*
/public/css/dist/*
/public/js-css-version.txt
sftp-config.json
.idea
npm-debug.log
/docker/builds/*
/public/images/version.txt
run
supervise/
/jackfruit-public/
/node_modules/.cache
